/* Overall layout */
.create-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

/* Edit button */
.create-container .edit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn {
    border: 1px solid #e8be98;
    text-decoration: none;
    padding: 5px;
    background: #ffb24e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:#Fff;
}

.create-container .edit-btn a {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.create-container .edit-btn a:hover {
    background-color: #0056b3;
}





form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #edd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.form-group{
    display: flex;
    align-items: center;
}
.form-group label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}
.form-group input,.form-group textarea{
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 24px;
}

.form-group a{
    color: #5153cb;
}


/* ==== Responsive layout ==== */
@media (max-width: 768px) {
    .create-container {
        width: 95%;
        padding: 15px;
    }

    .profile-header img {
        width: 120px;
        height: 120px;
    }

    .profile-header h2 {
        font-size: 20px;
    }

    .profile-details li {
        font-size: 16px;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        width: 100%; /* Label takes full width on small screens */
        text-align: left;
        margin-bottom: 5px;
    }

    .form-group input, .form-group textarea {
        width: 100%;
        line-height: 22px;
    }
}
