<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/login-signup.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Reset Your Password</h2>
      <p>Please enter your email address to receive a password reset link.</p>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Send Password Reset Email</button>
      </form>
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </body>
</html>
