{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="form reset-password">
        <h2>Reset Your Password</h2>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="input-field button">
            <input type="submit" value="Reset Password" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
