{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" />
  </head>
  <body>
    <div class="container reset-password-page">
      <div class="form reset-password">
        <span class="title reset-password-title">Reset Password</span>
        <form method="post" action="{% url 'password_reset' %}">
          {% csrf_token %}
          <div class="input-field" style="position: relative">
            <i class="uil uil-envelope icon"></i>
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="input-field button">
            <input type="submit" value="Send Reset Link" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
