{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }} - Event Detail</title>
    <link rel="stylesheet" href="{% static 'css/event_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="event-detail-container">
        <!-- image -->
        <div class="image-container">
            <img src="{{ event.image.url }}" alt="Event Image">
            <button id="favorite-button" onclick="toggleFavorite({{ event.id }})">
                <i class="{% if is_favorite %}fas{% else %}far{% endif %} fa-heart"></i>
            </button>
        </div>

        <!-- event info -->
        <div class="event-info">
            <h1>{{ event.title }}</h1>
            <p><strong>Time:</strong> {{ event.event_time }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Category:</strong> {{ event.get_category_display }}</p>
            <p><strong>Description:</strong> {{ event.description }}</p>
            <p><strong>Fee:</strong> £{{ event.fee }}</p>
            <p><strong>Max Participants:</strong> {{ event.max_participants }}</p>
            <p class="current-participants">
            <strong>Current Participants:</strong> <span id="participant-count">{{ event.current_participants }}</span>
            </p>
        </div>

        <!-- apply button -->
        <div class="apply-container">
            <button id="apply-button" data-event-id="{{ event.id }}">
                {% if user in event.applied_by_users.all %}
                    Applied
                {% else %}
                    Apply
                {% endif %}
            </button>
        </div>

        <a href="{% url 'homepage' %}" class="btn-back">Back to Homepage</a>
    </div>

    <form id="csrf-form" method="post">
        {% csrf_token %}
    </form>

    <script src="{% static 'js/event_detail.js' %}"></script>
    <script>
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
</body>
</html>