{% extends 'base_layout.html' %}
{% load static %} 

{% block content %}
<!-- banner -->
<div class="banner">
  <img src="{% static 'images/banner.png' %}" alt="Banner" />
</div>

<div class="categories">
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Game' %}"
      class="{% if category == 'Game' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/dotty/80/controller.png"
        alt="Game"
      />
    </a>
  </div>
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Performance' %}"
      class="{% if category == 'Performance' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/wired/80/theatre-mask.png"
        alt="Performance"
      />
    </a>
  </div>
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Nature' %}"
      class="{% if category == 'Nature' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/wired/80/mountain.png"
        alt="Nature"
      />
    </a>
  </div>
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Pet' %}"
      class="{% if category == 'Pet' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/wired/80/pets.png"
        alt="Pet"
      />
    </a>
  </div>
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Gourmet' %}"
      class="{% if category == 'Gourmet' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/wired/80/food-and-wine.png"
        alt="Gourmet"
      />
    </a>
  </div>
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Reading' %}"
      class="{% if category == 'Reading' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/wired/80/bookmark--v2.png"
        alt="Reading"
      />
    </a>
  </div>
  <div class="category">
    <a
      href="{% url 'filtered_events' category='Music'%}"
      class="{% if category == 'Music' %}active{% endif %}"
    >
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/wired/80/singing-teacher.png"
        alt="Music"
      />
    </a>
  </div>
</div>

{% block event_list %}
{{ block.super }}
{% endblock event_list %}

{% block pagination %}
{{ block.super }}
{% endblock pagination %}

{% endblock content %}
