{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<!DOCTYPE html>
<div class="profile-container">
  <!-- Back to homepage -->
  <div style="position: absolute; top: 10px; left: 10px">
    <a href="{% url 'homepage' %}" class="btn btn-secondary"
      >Back to homepage</a
    >
  </div>

  <!-- Edit button -->
  <div style="position: absolute; top: 10px; right: 10px">
    <a href="{% url 'profile' %}?edit=true" class="btn btn-secondary">Edit</a>
  </div>

  <!-- Name and Picture -->
  <div class="profile-header" style="text-align: center">
    <img
      src="{{ user.profile_picture.url|default:'/media/profile_pictures/default_avatar.png' }}"
      alt="Profile Picture"
      class="profile-image"
      style="border-radius: 50%; width: 150px; height: 150px"
    />
    <h2>{{ user.username }}</h2>
  </div>
  

  <!-- Information -->
  <div class="profile-details">
    <ul>
      <li><strong>City:</strong> {{ user.city|default:"Not provided yet" }}</li>
      <li>
        <strong>Hobbies:</strong> {{ user.hobbies|default:"Not provided yet" }}
      </li>
      <li>
        <strong>Talk about yourself:</strong> {{ user.bio|default:"Not provided yet" }}
      </li>
    </ul>
  </div>

  <!-- when editing -->
  {% if is_editing %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <input type="hidden" name="remove_avatar" id="remove_avatar_field" value="false">

    <div class="profile-picture-container">
      <label for="profile-picture-input" class="profile-picture-label">
          <img
              src="{{ user.profile_picture.url|default:'/media/profile_pictures/default_avatar.png' }}"
              alt="Profile Picture"
              class="profile-image"
          />
      </label>
      <input
          type="file"
          id="profile-picture-input"
          name="profile_picture"
          accept="image/*"
          style="display: none;"
      />
      {% if form.profile_picture.errors %}
      <div class="alert alert-danger">{{ form.city.errors }}</div>
      {% endif %}
    </div>

    <div class="button-container">
      <button type="button" id="remove-avatar" class="btn btn-danger">Remove</button>
      <label for="profile-picture-input" class="edit-icon">Change</label>
    </div>

    <div class="form-group">
      <label for="id_city">City:</label>
      <input
        type="text"
        class="location-input"
        name="city"
        placeholder="Pick your city"
        value="{{ user.city|default:'' }}"
        data-autocomplete-type="city"
      />
      {% if form.city.errors %}
      <div class="alert alert-danger">{{ form.city.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="id_hobbies">Hobbies:</label>
      <input type="text" name="hobbies" value="{{ user.hobbies|default:'' }}" />
      {% if form.hobbies.errors %}
      <div class="alert alert-danger">{{ form.hobbies.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="id_bio">Bio:</label>
      <textarea name="bio" placeholder="Talk about yourself :)">
{{ user.bio|default:'' }}</textarea
      >
      {% if form.bio.errors %}
      <div class="alert alert-danger">{{ form.bio.errors }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
  </form>
  {% endif %}
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwkTOGVWTbNUcU7FFCLbQCUaeNrwCXM2k&loading=async&libraries=places&callback=initAutocomplete&language=en"
  async
  defer
></script>
<script src="{% static 'js/google_map.js' %}"></script>
<script src="{% static 'js/change_avatar.js' %}"></script>

